@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar {
    flex-shrink: 0;
}

.homepage {
    flex-grow: 1;
    position: relative;
}

.custom-list {
    list-style-type: none; /* Remove default bullets */
    padding: 0;
  }
  
  .custom-list li {
    position: relative;
    padding-left: 1.5em; /* Space for the custom symbol */
  }
  
  .custom-list li::before {
    content: '👉🏼'; /* '•' Custom symbol (e.g., a bullet) */
    position: absolute;
    left: 0;
    color: 'primary'; /* Customize the color if needed */
  }
  