@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar {
    flex-shrink: 0;
}

.homepage {
    flex-grow: 1;
    position: relative;
}
